<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결과 창</title>
</head>
<body>
  <div style="margin: 0 auto; text-align: center;">
        <h1>여기는 결과창입니다</h1>
        <% for (let i=0; i<data.length; i++) { %>
        <table style="width: 100%; height: 50px;">
            <tr>
                <td style="border: 2px solid black; width: 20%;">
                    <a href="/content?identity=<%= data[i].identity %>" style="text-decoration: none;"><%= data[i].identity %></a></td>
                <td style="border: 2px solid black; width: 20%;">
                    <a href="/content?identity=<%= data[i].identity %>" style="text-decoration: none;"><%= data[i].writer %></a></td>
                <td style="border: 2px solid black; width: 30%;"><%= data[i].header %></td>
                <td style="border: 2px solid black; width: 30%;"><%= data[i].time %></td>
            </tr>
        </table>
        <% } %>

        <a href="/" style="text-decoration: none; font-size: 30px;">글생성</a>
</body>
</html>