<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결과값 출력장소</title>
  </head>
  <body>
    이름은 <%= info.names %><br />
    성별은 <%= info.gender %><br />
    생년원일은 <%= info.birth %>년 <%= info.month%>월 <%= info.days%>일<br />
    관심사는 <%=info.hobby%>
  </body>
</html>
